/* Both views */
/* pop ups */
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#modalBackDrop.active {
  display: block; 
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

/* events */
.day-event-container > button {
  background-color: lightyellow;
}
.day-event-container > button:hover {
  filter: brightness(.9);
}
.day-event-container > button:active {
  filter: brightness(.7);
}

/* buttons */
.ok-button, .no-button, .submit-button {
    width: 140px;
    font: 20px 'Madimi One', sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}
.ok-button:hover, .no-button:hover, .submit-button:hover {
    opacity: .7;
}
.ok-button:active, .no-button:active, .submit-button:active {
    opacity: 1;
    filter: brightness(.7);
}
.ok-button {
    background-color: #7c90ff;
}
.no-button {
    background-color: #d36c6c;
}
.submit-button {
    background-color: #4fd864;
}

.updateCat-button{
    background-color: #c25eae;
    width: 140px;
    font: 20px 'Madimi One', sans-serif;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
  }


/* Font for month and year */
.top-text{
    color: #3A483B;
    font: 50px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;
}

/* Font for the weekdays */
.weekday{
    color: #334264;
    font: 30px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;


    display: flex;
    flex-flow: row;
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
    #mobile-weekly {
        display: none;
    }
    #add-button{
        display: none;
    }


    body {
        display: flex;
        user-select: none;
        background-color: #DADFDB;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    #month-text{
        position: absolute;
        top:10px;
        left: 380px ;
        margin: 10px 50px 10px 50px;
        align-content: center;
    }

    #year-text{
        position: absolute;
        top:10px;
        left: 250px;
        margin: 10px 10px 10px 10px;
    }

    #tree_body {
        position: absolute;
        top: 0; 
        left: 0;
        max-width: 100%; 
        max-height: 100%; 
    }

    #leaves {
        position: fixed;
        z-index:2;  /* puts img in front of calendar view */
    
        top: 204px; 
        left: 147px;
        max-height: 50%; 
        max-width: 20%;
    }

    #desktop-weekly {
        position: relative;
        z-index:1; /* puts img in front of background */
    
        top: 80px;
        left: 320px;
        max-height:660px;
        width: 1210px;
    }

    /* navigational arrows on weekly calendar */
    #weekly-arrows {
      position: relative;
      z-index: 5;
    }
    #last-week:hover, #next-week:hover {
      filter: hue-rotate(200deg);
    }
    #last-week:active, #next-week:active {
      filter: hue-rotate(200deg) brightness(.7);
    }
    #last-week{
        z-index: 4;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top: -590px;
        left: 1030px;
        }

    #next-week{
        z-index: 4;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top: -590px;
        left: 1030px;
   
    }

    .day-section {
        position: relative;
        top: -635px;
        left: 360px;
        margin: 10px 5px 0px 10px;
        width: 167px;
        height: 150px;
        z-index: 4;
    }

    .day-header {
        position: relative;
        width: 167px;
        height: 150px;
        z-index: 4;

        background-image: url('cloud.png');
        background-size: cover;
    }

    .day-header > p {
        text-align: center;
        padding-top: 34px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-right: 8px;
        font-size: 30px;
    }

    .day-header > .day-header-date {
        padding-top: 0;
        margin-top: 0;
    }

    .selected-cloud {
        filter: hue-rotate(230deg);
    }

    .day-header:hover {
        filter: hue-rotate(70deg);
    }

    .day-header:active {
        filter: hue-rotate(70deg) brightness(.7);
    }

    .day-header.selected-cloud:hover {
        filter: hue-rotate(310deg);
    }

    .day-header.selected-cloud:active {
        filter: hue-rotate(310deg) brightness(.7);
    }



    #weekend-days > .day-section{
        height: 225px;
        left: 385px;
        margin-left: 0;
    }

    .day-event-container {
        max-height: 380px;
        overflow-y: auto;
        overflow-x: clip;
    }

    #weekend-days > .day-section > .day-event-container {
        max-height: 138px;
    }



    .day-event-container > button {
        width: 100%;
        padding: 1px;
        margin: 2px;
        margin-left: -1px;
        border-style: solid;
        border-width: 10px;
        font: 14px 'Madimi One', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .day-event-container > button > img{
      object-fit: contain;
      height: 100px;
    }

    #weekend-days > .day-section > .day-event-container > button {
    }

    /* start of clickables */
    #nav-bar {
        margin-right:10px;
        top: 12px;
        right: 12px;
        height: 60px;

        display: flex;
        flex-flow: row-reverse;
        flex-direction: left;
        position: absolute;
    }


    #apple {
        position: relative;
        margin: 5px;
    }
  

    #magnif-glass {
        position: relative;
        margin: 5px;
    }
    #magnif-glass:hover {
      opacity: .7;
    }
    #magnif-glass:active {
      opacity: 1;
      filter: brightness(.7);
    }

    #search-widget {
      position: relative;
      width: 460px;
      display: none;
    }
    #search-input {
      height: 26px;
      width: 400px;
      left: 0;
      position: absolute;
      top: 6px;
    }
    #search-start-date {
      top: 35px;
      position: absolute;
      left: 0;
      height: 20px;
      width: 190px;
    }
    #search-end-date {
      position: absolute;
      left: 203px;
      top: 35px;
      height: 20px;
      width: 190px;
    }
    #search-submit {
      height: 50px;
      width: 50px;
      left: 410px;
      position: absolute;
      top: 8px;
    }

    #to-reports{
        position: absolute;
        max-width: 100%;
        margin: 10px 10px 20px 10px;
        height: 100px;
        left: 180px;
        top:  320px;
    }

    .modal {
        display: none; 
        z-index: 20;

        position: absolute;
        width: 40%;
        height: 49%;
        padding: 120px 50px;
        margin: auto;

        top: 50%;
        left: 50%;
	    transform: translate(-50%, -50%);

        background-image: url('/pop-up.png');
        background-size: cover;
        background-color: white;
        border-radius: 50px;

        color: #3A483B;
        font: 20px 'Madimi One', sans-serif;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
                   -2px 0px white, 2px 0px white, 0px -2px white,
                   0px 2px white;
    }

    .settingsModal {
        display: none; 
        z-index: 20;

        position: absolute;
        width: 30%;
        height: 35%;
        padding: 120px 50px;
        margin: auto;

        top: 50%;
        left: 50%;
	    transform: translate(-50%, -50%);

        background-image: url('/pop-up2.png');
        background-size: cover;
        background-position: center;
        border-radius: 50px;

        color: #3A483B;
        font: 20px 'Madimi One', sans-serif;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
                   -2px 0px white, 2px 0px white, 0px -2px white,
                   0px 2px white;
    }

    /* New event modal */
    #newEventModal > input {
        font: 20px 'Madimi One', sans-serif;
        border-style: solid;
        border-color: gray;
        border-width: 2px;
    }
    #newEventModal > .ok-button {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translate(-50%);
    }

    .event-button {
        font: 18px 'Madimi One', sans-serif;
        background-color: white;
        border-style: solid;
        border-width: 12px;

        height: fit-content;
        margin: 5px;
    }
    .event-button:hover {
        filter: brightness(.70);
    }
    .event-button:active {
        filter: brightness(.40);
    }
    .event-button > p {
        margin: 3px
    }


    /* Edit event modal */
    #editEventModalHeader > input, #editEventModalHeader > select {
        font: 22px 'Madimi One', sans-serif;
        background-color: whitesmoke;
        border-color: gray;
        border-width: 2px;
        border-style: solid;
    }

    #editEventModal {
        font: 18px 'Madimi One', sans-serif;
    }
    #editEventModal > select, #editEventModal > input,
            #editEventModal > textarea {
        background-color: whitesmoke;
        border-color: gray;
        border-width: 2px;
        border-style: solid;
        font: 16px 'Madimi One', sans-serif;
        margin: 5px auto;
    }
    #edit-event-image-label {
        min-width: 100px;
        padding: 0 10px;
        width: fit-content;
        display: inline-block;
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        background-color: whitesmoke;
        text-shadow: none;
    }
    #newCategory {
      display: none;
      align-items: center;
      margin: 5px auto;
    }
    #newCategory > input, #edit-event-custom-alarm-widget > input{
      font: 16px 'Madimi One', sans-serif;
      background-color: whitesmoke;
      border-color: gray;
      border-width: 2px;
      border-style: solid;
      padding: 2px;
      margin-left:5px;
    }
}

/* Mobile view */
@media only screen and (max-width: 764px){
    #desktop-weekly {
      display: none; 
    }
    #mobile-weekly {
      display: block;
    }
    #add-button{
      display: block;
    }

    body {
        display: flex;
        user-select: none;
        background-color: #DADFDB;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #month-text{
    position: absolute;
    right: 20%;
    top: 0px;
    align-content: center;
    margin: 0px 10px 0px 10px;
    }

    #year-text{
        position: absolute;
        top:0px;
        right: 75%;
        margin-left: 10px;
    }

    #tree_body {
        position: absolute;
        max-width: 250%;
        height: 100%; 
        top:0px;
        left:0px;
    }

    #mobile-weekly{
        position: absolute;
        height: 90%;
        width: 100%;
        top: 75px;
        left: 0px;
    }

    #day1{
        position: absolute;
        top: 87px;
        left: 0px;
        width: 120px;
    }
    #day2{
        position: absolute;
        top: 185px;
        left: 0px;
        width: 120px;
    }
    #day3{
        position: absolute;
        top: 280px;
        left: 0px;
        width: 120px;
    }

    #day4{
        position: absolute;
        top: 370px;
        left: 0px;
        width: 120px;
    }
    #day5{
        position: absolute;
        top: 470px;
        left: 0px;
        width: 120px;
    }
    #day6{
        position: absolute;
        top: 570px;
        left: 0px;
        width: 120px;
    }
    #day7{
        position: absolute;
        top: 570px;
        left: 210px;
        width: 120px;
    }

    #to-reports{
        position: absolute;
        top: 0px;
        left: 0px;
    } 

    /* start of clickables */
    #apple {
        position: absolute;
        margin-right:0px;
        width: 60px;
        top: 0px;
        right: 0px;
    }

    #magnif-glass {
        position: absolute;
        width: 35px;
        height: auto;
        margin-right:8px;
        top:60px;
        right:0px;
    }
    #magnif-glass:hover {
      opacity: .8;
    }

    #to-reports{
        position: absolute;
        max-width: 48px;
        height: auto;
        top:  170px;
        left: 90%;
    }

    #add-button{
        position: absolute;
        top: 120px;
        right: 1px;
        width: 9%;
    }

    #weekly-arrows {
      position: relative;
      z-index: 5;
    }
    #last-week:hover, #next-week:hover {
      filter: hue-rotate(200deg);
    }
    #last-week:active, #next-week:active {
      filter: hue-rotate(200deg) brightness(.7);
    }
    #last-week {
        position: absolute;
        bottom: 0px;
        right: 50px;
        width: 8%;
    }
    #next-week {
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 8%;
    }
}


