/* Both views */
/* pop ups */
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

#modalBackDrop.active {
  display: block; 
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

/* modals */
.modal {
    display: none; 
    z-index: 20;

    position: absolute;
    margin: auto;

    background-image: url('/pop-up.png');
    background-size: cover;
    background-position: center;
    background-color: white;
    border-radius: 50px;

    color: #3A483B;
    font: 20px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white,
               0px 2px white;
}

.settingsModal {
    display: none; 
    z-index: 20;

    position: absolute;
    width: 400px;
    height: 600px;
    padding: 10px 50px;
    margin: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('/pop-up2.png');
    background-size: cover;
    background-position: center;
    border-radius: 50px;

    border-style: solid;
    border-color: #b97f45;
    border-width: 8px;

    color: #3A483B;
    font: 20px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white,
               0px 2px white;
}

.settingsModal > h2 {
  text-align: center;
  font-size: 40px;
}

.settingsModal > h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

#categoriesList {
  max-height: 200px;
  overflow-y: auto;
  width: 300px;
  scrollbar-color: #495f4b #b97f45;
}

#categoriesList > div > input {
    font: 16px 'Madimi One', sans-serif;
    width: 200px;
    height: 20px;
    margin: 0px 4px;
    background-color: whitesmoke;
    border-style: solid;
    border-color: slategray;
}

#categoriesList > div > input[type='color'] {
  width: 24px;
  height: 24px;
  top: 4px;
  position: relative;
  padding: 0px;
}

#categoriesList > div > .no-button {
  width: 24px;
  height: 24px;
}

#settings-section-close {
  text-align: center;
  bottom: 40px;
  position: absolute;
  left: 0;
  width: 100%;
}

/* New event modal */
#newEventModal > input {
    font: 20px 'Madimi One', sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}
#newEventModal > .ok-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}

.event-button {
    font: 18px 'Madimi One', sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 12px;

    height: fit-content;
    margin: 5px;
}
.event-button:hover {
    filter: brightness(.70);
}
.event-button:active {
    filter: brightness(.40);
}
.event-button > p {
    margin: 3px
}

#apple:hover {
    filter: brightness(1.2);
}
#apple:active {
    filter: brightness(.8);
}


/* Edit event modal */
#editEventModalHeader > input, #editEventModalHeader > select {
    font: 22px 'Madimi One', sans-serif;
    background-color: whitesmoke;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
}

#editEventModal {
    font: 18px 'Madimi One', sans-serif;
}
#editEventModal > select, #editEventModal > input,
        #editEventModal > textarea {
    background-color: whitesmoke;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    font: 16px 'Madimi One', sans-serif;
    margin: 5px auto;
}
#edit-event-image-label {
    min-width: 100px;
    padding: 0 10px;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    text-shadow: none;
}
#edit-event-image-remove {
    position: relative;
    top: 1px;
        width: 26px;
    height: 24px;
}
#newCategory {
  display: none;
  align-items: center;
  margin: 5px auto;
}
#newCategory > input, #edit-event-custom-alarm-widget > input{
  font: 16px 'Madimi One', sans-serif;
  background-color: whitesmoke;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  padding: 0px;
  margin-left:5px;
}


.searchResults {
    height: 100%;
}

#searchResultsList {
    max-height: 80%;
    overflow-y: scroll;
    scrollbar-color: #495f4b #b97f45;
}
#searchResultsList > button {
    font: 18px 'Madimi One', sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 12px;

    width: 100%;
    height: fit-content;
    margin: 4px 0;
}
#searchResultsList > button:hover {
    filter: brightness(.70);
}
#searchResultsList > button:active {
    filter: brightness(.40);
}
#searchResultsList > button > p {
    width: 100%;
    margin: 2px;
}
#searchResultsList > button > img {
    height: 60px;
}
.search-event-button-date {
    color: gray;
    font-size: 14px;
}
.search-event-button-title {
    font-size: 20px;
}
.search-event-button-notes {
    font-size: 16px;
    color: slategray;
}

/* events */
.day-event-container > button {
  background-color: lightyellow;
}
.day-event-container > button:hover {
  filter: brightness(.9);
}
.day-event-container > button:active {
  filter: brightness(.7);
}
.day-event-container-time {
  color: slategray;
  margin-top: 2px;
  margin-bottom: -14px;
}

/* buttons */
.ok-button, .no-button, .submit-button {
    width: 140px;
    font: 20px 'Madimi One', sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
}
.ok-button:hover, .no-button:hover, .submit-button:hover {
    opacity: .7;
}
.ok-button:active, .no-button:active, .submit-button:active {
    opacity: 1;
    filter: brightness(.7);
}
.ok-button {
    background-color: #7c90ff;
}
.no-button {
    background-color: #d36c6c;
}
.submit-button {
    background-color: #4fd864;
}

.updateCat-button{
    background-color: #c25eae;
    width: 140px;
    font: 20px 'Madimi One', sans-serif;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
  }


/* Font for month and year */
#top-text{
	position: absolute;
	top: 0;
	left: 5%;

	display: inherit;

    color: #3A483B;
    font: 50px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;
}


/* Font for the weekdays */
.weekday {
    color: #334264;
    font: 30px 'Madimi One', sans-serif;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, .25), 
               -2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;


	position: absolute;
	top: 0;
    display: flex;
	width: 100%;
	height: 100%;
}

/* Weekly display */
.selected-cloud {
	filter: hue-rotate(230deg);
}

.day-header:hover {
	filter: hue-rotate(70deg);
}

.day-header:active {
	filter: hue-rotate(70deg) brightness(.7);
}

.day-header.selected-cloud:hover {
	filter: hue-rotate(310deg);
}

.day-header.selected-cloud:active {
	filter: hue-rotate(310deg) brightness(.7);
}

/* Clickables */
#nav-bar {
	margin-right:10px;
	top: 8px;
	right: 12px;
	height: 60px;
	z-index: 7;

	display: flex;
	flex-flow: row-reverse;
	flex-direction: left;
	position: absolute;
}


#apple {
	position: relative;
	margin: 5px;
}


#magnif-glass {
	position: relative;
	margin: 5px;
}
#magnif-glass:hover {
  opacity: .7;
}
#magnif-glass:active {
  opacity: 1;
  filter: brightness(.7);
}

#search-widget {
  position: relative;
  width: 460px;
  display: none;
}
#search-input {
  height: 26px;
  width: 400px;
  left: 0;
  position: absolute;
  top: 6px;
}
#search-start-date {
  top: 35px;
  position: absolute;
  left: 0;
  height: 20px;
  width: 190px;
}
#search-end-date {
  position: absolute;
  left: 203px;
  top: 35px;
  height: 20px;
  width: 190px;
}
#search-submit {
  height: 50px;
  width: 50px;
  left: 410px;
  position: absolute;
  top: 8px;
}
#last-week:hover, #next-week:hover {
  filter: hue-rotate(200deg);
}
#last-week:active, #next-week:active {
  filter: hue-rotate(200deg) brightness(.7);
}
#last-week{
	z-index: 4;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

#next-week{
	z-index: 4;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}


/* General */
html {
	height: 100%;
	width: 100%;
}

body {
    display: flex;
    user-select: none;
    user-select: none;
	height: 100%;
	width: 100%;
    background-color: #DADFDB;
	margin: 0;

    background-image: url('main_tree.png');
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
}

/* Desktop view */
@media only screen and (min-width: 900.0001px) {
    #mobile-weekly {
        display: none;
    }

    body {
		align-items: center;
    }

    #month-text{
        position: absolute;
        top:10px;
        left: 380px ;
        margin: 10px 50px 10px 50px;
        align-content: center;
    }

    #year-text{
        position: absolute;
        top:10px;
        left: 250px;
        margin: 10px 10px 10px 10px;
    }


	#weekly-section {
		position: absolute;
		top 80px;
		left: 25%;
		
		width: 60%;
	}


    #desktop-weekly {
        position: relative;
        z-index:1; /* puts img in front of background */
		width: 100%;
		border-radius: 20px;
    }

    /* navigational arrows on weekly calendar */
    #weekly-arrows {
      position: absolute;
	  top: -20px;
	  left: 60%;
      z-index: 5;
    }
	


	.weekday {
        padding-left: 2.37%;
        flex-flow: row;
	}

    .day-section {
        position: relative;
        width: 15.55%;
        height: 100%;
        z-index: 4;
		margin-right: .25%;
    }

    .day-header {
        position: relative;
        width: 100%;
		height: fit-content;
		padding-right: 2px;
        z-index: 4;
    }

	.day-header > img {
		width: 100%;
	}

    .day-header > p {
		position:absolute;
		top: 16%;
		left: -4%;
		width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .day-header > .day-header-date {
        padding-top: 0;
        margin-top: 0;
    }



	#weekend-days {
		position: relative;
		left: 1.05%;
		width: 15.65%;
		height: 100%;
	}

    #weekend-days > .day-section{
        height: 50%;
		width: 100%;
        margin-left: 0;
    }

    .day-event-container {
        max-height: 77.8%;
        overflow-y: auto;
        overflow-x: clip;
		scrollbar-color: #495f4b #b97f45;
    }



    .day-event-container > button {
        width: 100%;
        padding: 1px;
        margin: 2px;
        margin-left: -1px;
        border-style: solid;
        border-width: 10px;
        font: 14px 'Madimi One', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .day-event-container > button > img{
      object-fit: contain;
      height: 100px;
    }

    #day6 > .day-event-container {
        max-height: 63.7%;
    }

    #day7 > .day-event-container {
        max-height: 58.5%;
        position: relative;
        top:-3%;
    }

    #weekend-days > .day-section > .day-event-container > button {
    }

    #month-text, #year-text{
      position: relative;
      align-content: center;
      margin: 0px 10px 0px 10px;
      top: 4px;
      left: 0;
      display: inline-block;
    }

    .modal {
        position: absolute;
        width: 40%;
        height: 49%;
        padding: 120px 50px;
        margin: auto;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

/* Mobile view */
@media only screen and (max-width: 900px){
    #desktop-weekly {
      display: none; 
    }

    body {
		flex-direction: column;
        overflow-y: clip;
    }

    #month-text{
		position: relative;
		align-content: center;
		margin: 0px 10px 0px 10px;
    }
    #year-text{
        position: relative;
		align-content: center;
        margin-left: 10px;
    }

    #weekly-arrows {
      position: absolute;
	  top: -20px;
	  left: 60%;
      z-index: 5;
    }

    #weekly-section {
        position: relative;
        top: 10%;

        width: 100%;
        height: 89%;
    }

    #mobile-weekly{
		display: block;
        width: 100%;
		height: 100%;
        border-radius: 30px;
    }

	.weekday {
		flex-flow: column;
        padding-top: 1.5%;
	}

	#weekend-days {
		position: relative;
		display: flex;
	}

    .day-section {
        position: relative;
        height: 15.55%;
        width: 100%;
        z-index: 4;
        margin-bottom: .29%;
        display: flex;
    }

    .day-header {
		display: inline-block;
        position: relative;
        width: fit-content;
		height: 100%;
		padding-right: 2px;
        z-index: 4;
    }

	.day-header > img {
		height: 100%;
	}

    .day-header > p {
		position:absolute;
		top: 8%;
		left: -4%;
		width: 100%;
        text-align: center;
        font-size: 30px;
    }

    .day-header > .day-header-date {
        padding-top: 0;
        margin-top: 0;
    }

    .day-event-container {
		display: inline-flex;
		flex-direction: row;
		height: 100%;
		max-width: 75.5%;
        overflow-x: auto;
        overflow-y: clip;
		scrollbar-color: #495f4b #b97f45;
    }



    .day-event-container > button {
        height: 100%;
        min-width: 100px;
        width: fit-content;
		justify-content: center;
        padding: 1px;
        margin-right: 4px;
        margin-left: -1px;
        border-style: solid;
        border-width: 10px;
        font: 14px 'Madimi One', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .day-event-container > button > p {
        margin: 0;
    }

    .day-event-container > button > img{
      object-fit: contain;
      height: 60%;
    }

    #weekend-days {
        margin-top: 1.1%;
        height: 16.1%
    }

    #day6, #day7 {
        height: 100%;
    }

    #day6 {
        width: 49.2%;
    }
    #day7 {
        margin-left: -5%;
        width: 50.3%;
    }

    .modal {
        width: 99%;
        height: 99%;
        margin: auto;

        top: 0;
        left: 0;
        padding: 120px 50px;
    }
}


