/* Global */

html {
	height: 100%;
}

body {
	display: flex;
	user-select: none;
	
	
	background: #DADFDB;

	height: 100%;
	margin: 0;
	background-image: url('login_background.png');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

p {
	font: bold 84px 'Madimi One', sans-serif;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, .25);
	color: #334264;
	margin: 0;
}

button {
	width: 49.5%;

	font: bold 84px 'Madimi One', sans-serif;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, .25);

	color: #334264;
	border: none;
	background: none;
}

button:hover {
	color: #334961;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, .25),
		-2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;
}

button:active {
	opacity: 0.5;
	text-shadow: 0px 4px 2px rgba(0, 0, 0, .25),
		-2px 0px white, 2px 0px white, 0px -2px white, 0px 2px white;
}


/* Welcome pane */

#apple {
	height: 100%
}

#welcoming-pane, #email-pane {
	width: 679px;
	max-width: 100%;
	position: relative;
	margin: 9% auto 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
	overflow: hidden;
}

#title {
	display: flex;
	height: 40%;
	align-items: center;
	padding: 0;
	justify-content: center;
}


/* Email pane */

#email-pane {
	/*background-image: url('email_background.png');
	background-size: cover;
	background-position: center;*/
	padding: 160px 20px;
	margin: auto;
	text-align: center;

	width: 600px;

	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#email-pane > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -1;
}

#email-pane > label {
	font: bold 24px 'Madimi One', sans-serif;
	display: block;
	color: slate;
	margin-bottom: -13px;
	left: 77px;
	height: 33px;
	position: relative;
	text-align: left;
}

#email-pane > input {
	width: 70%;
	margin: 10px;
	padding: 14px;
	font: bold 24px 'Madimi One', sans-serif;
	color: #334455;
}

#email-pane > button {
	width: 20%;
}

#email-pane > .invalid {
	background-color: #D77;
	border-color: black;
}

.hidden {
	display: none;
}
